<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>PDF Invoice - 1</title>
		<style>
			@page :first { size: A4 portrait; margin-bottom: 0; line-height: 1.5; } /*
			Landscape orientation for the rest of the pages */ @page { size: A4
			landscape; margin-bottom: 2rem; } *, *::before, *::after { box-sizing:
			border-box; font-family: Helvetica, sans-serif; } body { font-size: 9pt;
			font-family: Helvetica, sans-serif; margin: 0; padding: 0;
			background-color: #fff; } .page { break-after: page; } .invoice { padding:
			0 1rem 1rem; } .invoice-header { display: flex; justify-content:
			space-between; align-items: center; } .invoice-header-left { width: 50%; }
			.invoice-code { display: flex; justify-content: space-between;
			align-items: center; line-height: 1.2; } .invoice-body-1 { display: grid;
			gap: 1px; background-color: #000; padding: 1px; grid-template-columns: 1fr
			1fr; } .invoice-body { background-color: #fff; padding: 0 1rem 1rem; }
			.item1 { grid-column: 1; grid-row: 1 / span 2; } .item4 { grid-column: 1 /
			span 2; grid-row: 3; text-align: center; } .item8 { grid-column: 1 / span
			2; } .buyer-details { display: flex; flex-direction: column; width:
			33.35%; } .invoice-total { margin-top: 1rem; } .invoice-footer {
			margin-top: 1rem; } .bold { font-weight: bold; } .h2-prev { font-size:
			11pt; font-weight: 700; } .margin-bottom { margin-bottom: 16px; }
			.invoice-table { width: 100%; border-collapse: collapse; } .invoice-table
			th, .invoice-table td { border: 1px solid #000; padding: 4px; text-align:
			left; } .invoice-table thead, tbody { font-size: 12px; } .invoice-table
			th, td { vertical-align: top !important; } .item { page-break-inside:
			avoid; }
			{{! .invoice-header-right{
      display: flex;
      width: 25%;
      align-items: center;
      justify-content: center;
   } }}

			h2 { color: black; font-family:Helvetica, sans-serif; font-style: normal;
			font-weight: bold; text-decoration: none; font-size: 11pt; } .s1 { color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 11pt; } h1 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 12pt; } .s2 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 11pt; } .s3 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 11pt; } .s4 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 12pt; } .s5 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } .s6 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 9pt; } .s7 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 8pt; } .s8 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } .s9 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 11pt; } .s10 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 10pt; } .s11 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 10pt; } .s12 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 8pt; } .s13 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 8pt; } .a { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 8pt; } h4 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 9pt; } .p, p { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; margin:0pt; } h3 { color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			bold; text-decoration: none; font-size: 10pt; } .s14 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 10pt; } .s15 { color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight: bold;
			text-decoration: none; font-size: 9pt; } li {display: block; } #l1
			{padding-left: 0pt;counter-reset: c1 1; } #l1> li>*:first-child:before
			{counter-increment: c1; content: counter(c1, decimal)" "; color: black;
			font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l1>
			li:first-child>*:first-child:before {counter-increment: c1 0; } #l2
			{padding-left: 0pt;counter-reset: c2 1; } #l2> li>*:first-child:before
			{counter-increment: c2; content: counter(c1, decimal)"."counter(c2,
			decimal)" "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; } #l2>
			li:first-child>*:first-child:before {counter-increment: c2 0; } #l3
			{padding-left: 0pt;counter-reset: d1 1; } #l3> li>*:first-child:before
			{counter-increment: d1; content: "("counter(d1, lower-latin)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l3>
			li:first-child>*:first-child:before {counter-increment: d1 0; } #l4
			{padding-left: 0pt;counter-reset: e1 2; } #l4> li>*:first-child:before
			{counter-increment: e1; content: "("counter(e1, lower-roman)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l4>
			li:first-child>*:first-child:before {counter-increment: e1 0; } #l5
			{padding-left: 0pt;counter-reset: e2 1; } #l5> li>*:first-child:before
			{counter-increment: e2; content: "("counter(e2, upper-latin)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l5>
			li:first-child>*:first-child:before {counter-increment: e2 0; } #l6
			{padding-left: 0pt;counter-reset: e3 1; } #l6> li>*:first-child:before
			{counter-increment: e3; content: "("counter(e3, lower-roman)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l6>
			li:first-child>*:first-child:before {counter-increment: e3 0; } #l7
			{padding-left: 0pt;counter-reset: e1 2; } #l7> li>*:first-child:before
			{counter-increment: e1; content: "("counter(e1, lower-roman)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l7>
			li:first-child>*:first-child:before {counter-increment: e1 0; } #l8
			{padding-left: 0pt;counter-reset: e2 1; } #l8> li>*:first-child:before
			{counter-increment: e2; content: "("counter(e2, upper-latin)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l8>
			li:first-child>*:first-child:before {counter-increment: e2 0; } #l9
			{padding-left: 0pt;counter-reset: e3 2; } #l9> li>*:first-child:before
			{counter-increment: e3; content: "("counter(e3, lower-roman)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l9>
			li:first-child>*:first-child:before {counter-increment: e3 0; } li
			{display: block; } #l10 {padding-left: 0pt;counter-reset: f1 2; } #l10>
			li>*:first-child:before {counter-increment: f1; content: counter(f1,
			decimal)". "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
			#l10> li:first-child>*:first-child:before {counter-increment: f1 0; } #l11
			{padding-left: 0pt;counter-reset: f2 1; } #l11> li>*:first-child:before
			{counter-increment: f2; content: counter(f1, decimal)"."counter(f2,
			decimal)" "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
			#l11> li:first-child>*:first-child:before {counter-increment: f2 0; } #l12
			{padding-left: 0pt;counter-reset: g1 1; } #l12> li>*:first-child:before
			{counter-increment: g1; content: "("counter(g1, lower-latin)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l12>
			li:first-child>*:first-child:before {counter-increment: g1 0; } #l13
			{padding-left: 0pt;counter-reset: f2 1; } #l13> li>*:first-child:before
			{counter-increment: f2; content: counter(f1, decimal)"."counter(f2,
			decimal)" "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
			#l13> li:first-child>*:first-child:before {counter-increment: f2 0; } #l14
			{padding-left: 0pt;counter-reset: f2 1; } #l14> li>*:first-child:before
			{counter-increment: f2; content: counter(f1, decimal)"."counter(f2,
			decimal)" "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
			#l14> li:first-child>*:first-child:before {counter-increment: f2 0; } #l15
			{padding-left: 0pt;counter-reset: f2 1; } #l15> li>*:first-child:before
			{counter-increment: f2; content: counter(f1, decimal)"."counter(f2,
			decimal)" "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
			#l15> li:first-child>*:first-child:before {counter-increment: f2 0; } #l16
			{padding-left: 0pt;counter-reset: f2 1; } #l16> li>*:first-child:before
			{counter-increment: f2; content: counter(f1, decimal)"."counter(f2,
			decimal)" "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
			#l16> li:first-child>*:first-child:before {counter-increment: f2 0; } li
			{display: block; } #l17 {padding-left: 0pt;counter-reset: h1 1; } #l17>
			li>*:first-child:before {counter-increment: h1; content: counter(h1,
			decimal)") "; color: black; font-family:Helvetica, sans-serif; font-style:
			normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
			#l17> li:first-child>*:first-child:before {counter-increment: h1 0; } #l18
			{padding-left: 0pt;counter-reset: h2 1; } #l18> li>*:first-child:before
			{counter-increment: h2; content: counter(h2, lower-latin)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l18>
			li:first-child>*:first-child:before {counter-increment: h2 0; } #l19
			{padding-left: 0pt;counter-reset: h2 1; } #l19> li>*:first-child:before
			{counter-increment: h2; content: counter(h2, lower-latin)") "; color:
			black; font-family:Helvetica, sans-serif; font-style: normal; font-weight:
			normal; text-decoration: none; font-size: 9pt; } #l19>
			li:first-child>*:first-child:before {counter-increment: h2 0; } li
			{display: block; } #l20 {padding-left: 0pt;counter-reset: i1 1; } #l20>
			li>*:first-child:before {counter-increment: i1; content: "("counter(i1,
			lower-roman)") "; color: black; font-family:Helvetica, sans-serif;
			font-style: normal; font-weight: normal; text-decoration: none; font-size:
			9pt; } #l20> li:first-child>*:first-child:before {counter-increment: i1 0;
			} #l21 {padding-left: 0pt;counter-reset: i2 1; } #l21>
			li>*:first-child:before {counter-increment: i2; content: "("counter(i2,
			lower-latin)") "; color: black; font-family:Helvetica, sans-serif;
			font-style: normal; font-weight: normal; text-decoration: none; font-size:
			9pt; } #l21> li:first-child>*:first-child:before {counter-increment: i2 0;
			} li {display: block; } #l22 {padding-left: 0pt;counter-reset: j1 1; }
			#l22> li>*:first-child:before {counter-increment: j1; content: counter(j1,
			decimal)". "; color: black; font-style: normal; font-weight: normal;
			text-decoration: none; } #l22> li:first-child>*:first-child:before
			{counter-increment: j1 0; } #l23 {padding-left: 0pt;counter-reset: j2 1; }
			#l23> li>*:first-child:before {counter-increment: j2; content: counter(j2,
			lower-latin)". "; color: black; font-family:Helvetica, sans-serif;
			font-style: normal; font-weight: normal; text-decoration: none; font-size:
			9pt; } #l23> li:first-child>*:first-child:before {counter-increment: j2 0;
			} #l24 {padding-left: 0pt;counter-reset: j3 1; } #l24>
			li>*:first-child:before {counter-increment: j3; content: counter(j3,
			lower-roman)". "; color: black; font-family:Helvetica, sans-serif;
			font-style: normal; font-weight: normal; text-decoration: none; font-size:
			9pt; } #l24> li:first-child>*:first-child:before {counter-increment: j3 0;
			} #l25 {padding-left: 0pt;counter-reset: j2 1; } #l25>
			li>*:first-child:before {counter-increment: j2; content: counter(j2,
			lower-latin)". "; color: black; font-family:Helvetica, sans-serif;
			font-style: normal; font-weight: normal; text-decoration: none; font-size:
			9pt; } #l25> li:first-child>*:first-child:before {counter-increment: j2 0;
			} #l26 {padding-left: 0pt;counter-reset: j2 1; } #l26>
			li>*:first-child:before {counter-increment: j2; content: counter(j2,
			lower-latin)". "; color: black; font-family:Helvetica, sans-serif;
			font-style: normal; font-weight: normal; text-decoration: none; font-size:
			9pt; } #l26> li:first-child>*:first-child:before {counter-increment: j2 0;
			} table, tbody {vertical-align: top; overflow: visible; }
		</style>
	</head>
	<body>
		<div class='page'>
			<div style='margin-top:1rem;' class='invoice'>
				<div class='invoice-header margin-bottom'>
					<div style='line-height: 1.04;' class='invoice-header-left'>
						<div class='h2-prev'>{{place_of_business.name}}</div>
						<div
							style='width: 85%; font-size: 11pt;'
						>{{place_of_business.address.street}}{{place_of_business.address.street_2}}{{place_of_business.address.street_3}}</div>
						<div
							style='width: 85%; font-size: 11pt;'
						>{{place_of_business.address.street_4}}{{place_of_business.address.street_5}}</div>
						<div style='font-size: 11pt;'>{{place_of_business.address.city}}
							-
							{{place_of_business.address.pincode}}
							{{place_of_business.address.state}}
							{{place_of_business.address.country}}
						</div>
					</div>
					<div class='invoice-header-right'>
						<img
							style=' margin-right: 75px;'
							height='80px'
							width='75px'
							src={{pdfLogo}}
							alt='Reliance Retail Limited'
						/>
					</div>
				</div>
				<div class='invoice-code'>
					<div
						style='text-align: left; width: 33%; font-size: 12pt;'
						class='h2-prev'
					>SELLER</div>
					<div
						style='text-align: center; width: 30%; font-size: 12pt; margin-right: 65px;'
						class='h2-prev'
					>PURCHASE ORDER</div>
					<img
						style='text-align: right; width: 33%; font-size: 12pt;'
						src={{barcodeMarkup}}
					/>
				</div>
				<div style='line-height: 1.04;' class='invoice-body-1'>
					<div style='line-height: 1.2;' class='invoice-body item1'>
						<div style='font-size: 11pt; line-height: 1.5'>Vendor Code :
							{{supplier_details.code}}</div>
						<div style='font-size: 11pt;'>{{supplier_details.name}}</div>
						<div
							style='padding-top: 1rem; font-size: 11pt;'
						>{{supplier_details.address.address}}</div>
						{{!-- <div style="font-size: 11pt;">{{supplier_details.address.address_line2}}</div> --}}
						<div style='font-size: 11pt;'>
							{{supplier_details.address.city}}
							{{supplier_details.address.state}}
						</div>
						<div style='font-size: 11pt;'>
							Pin Code :
							{{supplier_details.address.pincode}},
							{{supplier_details.address.country}}
						</div>

						<div style='font-size: 11pt;'>E-Mail :
							{{supplier_details.contact.contact_email}}</div>
						<div style='font-size: 11pt;'>Pan No. :
							{{supplier_details.pan}}</div>
						<div style='font-size: 11pt;'>Vendor Status : &nbsp;
							{{supplier_details.supplier_status}}</div>
						<div style='font-size: 11pt;'>GSTIN No:
							{{supplier_details.gst_no}}</div>
						<div style='font-size: 11pt;'>Attention : </div>
						{{#if supplier_details.is_msme}}
							<div style='font-size: 11pt;'>MSME : Micro Enterprise </div>
						{{/if}}
					</div>
					<div
						style='line-height: 1.2; padding-right: 0;'
						class='invoice-body item2'
					>
						<div style='font-size: 11pt; line-height: 1.5'>PO NO. :
							{{po_number}}
							Site :
							{{site_details.code}}</div>
						<div style='font-size: 11pt;'>PO Date : {{po_date}}</div>
						<div
							class='bold'
							style='padding-top: 1rem; font-size: 11pt;'
						>Priority :
							{{priority}}
						</div>
					</div>
					<div class='invoice-body item3'>
						<div style='font-size: 11pt; line-height: 1.5'>Season :
							{{season.season}}</div>
						<div style='font-size: 11pt;'>Season Year :
							{{season_year}}</div>
						{{#if rfid}}
							<div class='bold' style='font-size: 11pt; padding-top: 1rem'>RFID
								PACK</div>
						{{/if}}
					</div>
					<div class='invoice-body item4'>
						<div
							style='line-height: 1.4; font-size: 12pt;'
							class='h2-prev margin-bottom'
						>{{site_details.name}}</div>
						<div style='line-height:1.33; text-align: justify;'>
							&nbsp; In accepting this PURCHASE ORDER, SELLER agrees to furnish
							the GOODS specified in full accordance with all conditions set
							forth herein and / or attachments hereto. All drawings, designs,
							specifications and other data prepared by OWNER and related
							thereto arethe property of the OWNER and must be returned to OWNER
							upon completionby SELLER of the obligations under this PURCHASE
							ORDER. Theinformation contained herein is not to be released or
							disclosed for any other use or purpose other than for the
							execution of this PURCHASE ORDER. This formal PURCHASE ORDER
							constitutes the entire agreement and only written changes by way
							of an amendment to this PURCHASE ORDER will be legally binding. It
							is important that SELLER signs and returns the PURCHASE ORDER copy
							within three (3) days of receipt. No other form of acceptance will
							be accepted. Failure to return the acceptance does not diminish
							the responsibilities as set forth herein, but may result in a
							delay to any payments that may be due and may be cause for
							termination of this PURCHASE ORDER.
						</div>
					</div>

					<div style='line-height: 1.27;' class='invoice-body item5'>
						<div style='line-height: 1.5;' class='bold'>Delivery Address :
						</div>
						<div>
							{{site_details.address.street_2}}
						</div>
						<div>
							{{site_details.address.street_3}}
						</div>
						<div>
							{{site_details.address.street_4}}
						</div>
						<div>
							{{site_details.address.street_5}}
						</div>
						<br />
						<div>{{site_details.address.state}},
							{{site_details.address.city}}
							-
							{{site_details.address.pincode}}</div>
						<div><span class='bold'>Tel:
							</span>{{site_details.contact.contact_number}}</div>
						<div><span class='bold'>GSTN No: </span>
							{{site_details.gst_no}}</div>
						<div><span class='bold'>Email :
							</span>{{site_details.contact.contact_email}}</div>
					</div>
					<div
						style='line-height: 1.68; padding: 0 1rem;'
						class='invoice-body item2'
						style='padding: 0 0 1rem 0.5rem;'
					>
						<div style='display: flex; justify-content: space-between;'>
							<span
								style='
						width: 145pt; font-size: 8pt;'
								class='bold'
							>TOTAL BASIC VALUE</span>
							<span
								class='bold'
								style='align-self: center; font-size: 8pt;'
							>INR</span>
							<span
								style='
						; text-align: right; width: 125pt; font-size: 8pt;'
								class='bold'
							>{{total_base_value}}</span>
						</div>
						{{#if gst.is_igst}}
							<div style='display: flex; justify-content: space-between;'>
								<span class='bold' style='width: 145pt; font-size: 8pt;'>TOTAL
									IGST</span>
								<span
									class='bold'
									style='align-self: center; font-size: 8pt;'
								>INR</span>
								<span
									class='bold'
									style='; text-align: right; width: 125pt; font-size: 8pt;'
								>{{gst.total_igst_value}}</span>
							</div>
						{{else}}
							<div style='display: flex; justify-content: space-between;'>
								<span class='bold' style='width: 145pt; font-size: 8pt;'>TOTAL
									CGST</span>
								<span
									class='bold'
									style='align-self: center; font-size: 8pt;'
								>INR</span>
								<span
									class='bold'
									style='; text-align: right; width: 125pt; font-size: 8pt;'
								>{{gst.total_cgst_value}}</span>
							</div>
							<div style='display: flex; justify-content: space-between;'>
								<span class='bold' style='width: 145pt; font-size: 8pt;'>TOTAL
									SGST</span>
								<span
									class='bold'
									style='align-self: center; font-size: 8pt;'
								>INR</span>
								<span
									class='bold'
									style='; text-align: right; width: 125pt; font-size: 8pt;'
								>{{gst.total_sgst_value}}</span>
							</div>
						{{/if}}
					</div>

					<div
						style='grid-column: 1 / span 2;
			text-align: center;'
					>
						<div style='background-color: #fff; display: flex'>
							<div style='width:48%' class='invoice-body item6'>
							</div>
							<div
								style=' line-height: 1.50; width:52%; padding: 0 1rem 1rem 0'
								class='invoice-body item7'
							>
								<div style='display: flex; justify-content: space-between;'>
									<span
										style=' font-size: 11pt; font-weight: bold; width: 125pt;'
									>Total Order Value :</span>
									<span
										style='font-size: 11pt; font-weight: bold; align-self: center;'
									>INR</span>
									<span
										style='font-size: 11pt; font-weight: bold; 
						; text-align:center;'
									>{{total_order_value}}</span>
								</div>
							</div>
						</div>
					</div>

					<div style='padding-bottom:0' class='invoice-body'>
						<div
							style='line-height: 1.5; font-size: 12pt;'
							class='h2-prev'
						>DELIVERY DATE :
							{{delivery_date}}
						</div>
						<div style='font-size: 10pt;'>Payment Terms : See Page Inside</div>
					</div>
					<div style='line-height: 1.20;' class='invoice-body'>
						<div
							style='line-height: 1.5; font-size: 12pt;'
							class='h2-prev'
						>Delivery Term :
							{{delivery_terms}}
						</div>
					</div>

					<div style='padding:1rem;' class='invoice-body item8'>
					</div>

					<div
						style='line-height: 1.20; grid-column: 1 / span 2;
			text-align: center;'
					>
						<div style='display: flex; column-gap: 1px;'>
							<div
								style='text-align: left;'
								class='invoice-body item9 buyer-details'
							>
								<br />
								<div>Buyer : {{buyer.name}} </div><br />
								<div>Phone : {{buyer.contact.contact_number}} </div><br />
								<div>Email : {{buyer.contact.contact_email}} </div>
							</div>
							<div
								style='justify-content: space-between'
								class='invoice-body item10 buyer-details'
							>
								<div><br />
									<div>For {{site_details.name}}</div>
									<div>{{place_of_business.name}} </div>
								</div>
								<br /><br />
								<div>
									This is a computer generated document not requiring any
									signature
								</div>
							</div>
							<div
								style='justify-content: space-between'
								class='invoice-body item11 buyer-details'
							>
								<br />
								<div>SELLER&#39;S Acceptance</div>
								<div
									style='display: flex; justify-content: space-between; margin-top:25px'
								>
									<span>Signature</span>
									<span>Title</span>
									<span>Date</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div style='line-height: 1.43' class='invoice-footer'>
					<div class='bold' style='font-size:8pt; line-height:1.43;'>Registered
						Office :
						{{company.address.street}},
						{{company.address.street_4}}
						{{company.address.street_5}}
						{{company.address.city}},{{company.address.pincode}}.</div>
					<div class='bold' style='font-size:8pt; line-height:1.43;'>CIN No.
						{{company.cin}}.</div>
					<div class='bold' style='font-size:8pt; line-height:1.43;'>Please
						connect with &#39;rr.vigilance@ril.com&#39; or Toll-free number:
						18008903477 to report any unethical incident violating any terms
						&amp; conditions.</div>
				</div>
			</div>
		</div>

	</body>
</html>